{# templates/invoice/_table.html.twig #}
{% macro table(title, invoices, tableClass) %}
    <section class="tables">
        <h3>{{ title }}</h3>
            <table class="table column {{ tableClass }}">
            <thead>
                <tr>
                    <th class="w-10 mobile">N°</th>
                    <th class="w-30 mobile">Client</th>
                    <th>Date</th>
                    <th class="mobile">Total HT</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td class="w-10 mobile"> <a href="{{ path('app_invoice_show', {'id': invoice.id}) }}">{{ invoice.number }}</a></td>
                    <td class="w-30 mobile">{{ invoice.customer.name }}</td>
                    <td>{{ invoice.date ? invoice.date|date('d/m/Y') : '' }}</td>
                    <td class="mobile">{{ invoice.totalHT|number_format(2, ',', ' ') }} €</td>
                    <td>{{ invoice.status.label }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Vous n'avez pas encore enregistré de facture.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endmacro %}