<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div class="home-container">
			<nav>
				<ul>
					<li>
						<a href="{{ path('app_home') }}"><img src="{{ asset('images/logo-dark.png')}}" alt="logo" srcset=""></a>
					</li>
				</ul>
				<ul>
					{% if is_granted('ROLE_USER') %}
						<li>
							<a href="{{ path('app_dashboard') }}">Dashboard</a>
						</li>
						<li>
							<a href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_login') }}">Se connecter</a>
						</li>
						<li>
							<a href="{{ path('app_register') }}" class="btn-subscribe">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</nav>
			{% include 'partials/flash.html.twig' %}
			<header>
			<div class="img">
				<img src="{{ asset('images/smartphone.png')}}" alt="logo" srcset="">
			</div>
				<div>
					<h1>
						Facturation simplifiée<br>pour les transporteurs
					</h1>
					<p>Générez et envoyez vos factures et CMR en quelques clics.</p>
					<a href="{{ path('app_register')}}" class="btn-subscribe">Créer un compte</a>
					<p>Simple rapide et sans frais.</p>
				</div>
			</header>

			<main>

				<section class="features">
				<div class="text">
					<h2>Vos outils du quotidien</h2>
					<p>Facture Manager vous facilite la gestion de vos livraisons pour mieux vous concentrer sur votre activité.</p>
					<ul>
						<li></li>
					</ul>
				</div>
					
					<div class="list-features">
  {% set cards = [
    { icon: 'bi:truck', title: 'Ajout des livraisons' },
    { icon: 'bi:pass', title: 'Facturation simple' },
    { icon: 'bi:envelope-at', title: 'Envoi intelligent' }
  ] %}

  <div class="list-cards">
    {% for card in cards %}
      <article class="card">
        <div class="icon">
          {{ ux_icon(card.icon) }}
        </div>
        <h3>{{ card.title }}</h3>
      </article>
    {% endfor %}
  </div>
						<div class="manager">
							<img src="{{ asset('images/manager.png')}}" alt="logo" srcset="">
						</div>
					</div>
				</section>

				<section>
					<h2>Foire aux questions</h2>
					<div>
						{% set faqs = [
          { id: 'One', question: "Dois-je générer un CMR moi-même ?", answer: "Non, vous pouvez simplement uploader une photo ou un scan du CMR lorsque vous ajoutez la livraison." },
          { id: 'Two', question: "Comment fonctionne l’envoi de la facture ?", answer: "Un email est envoyé à votre client avec la facture et les CMR en pièces jointes. Vous recevez une copie pour vos archives." },
          { id: 'Three', question: "Est-ce que les fichiers sont stockés ?", answer: "Non, les CMR sont automatiquement supprimés après l’envoi. Vous gardez la trace dans votre messagerie." }
        ] %}
						{% for faq in faqs %}
							<div>
								<h2 id="heading{{ faq.id }}">
									<button type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
										{{ faq.question }}
									</button>
								</h2>
								<div id="collapse{{ faq.id }}" aria-labelledby="heading{{ faq.id }}" data-bs-parent="#faqAccordion">
									<div>
										{{ faq.answer }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</section>

				<section>
					<h2>Pourquoi ce projet ?</h2>
					<p>Facture Manager a été conçu en collaboration avec des transporteurs indépendants. Beaucoup utilisent encore Excel ou Word, ce qui prend du temps et génère des erreurs. L’objectif est de proposer un outil simple, gratuit, adapté aux réalités des petites structures.</p>
				</section>


				<section>
					<h2>Pourquoi c’est gratuit ?</h2>
					<p>Le service est gratuit car il vise à aider les petits transporteurs à se structurer efficacement. Aucune publicité, aucune vente de données. Des options payantes pourraient arriver plus tard (export comptable, stockage cloud), mais l’essentiel restera gratuit.</p>
				</section>

			</main>
		</div>
	</body>
</html>
