<div class="invoice-page theme2 {{ themeDefault ? 'd-none' : '' }}" data-theme-target="theme2" >


		{{ include('@invoice/components/address-company.html.twig') }}

		<div class="logo">
			<img src="{{ absolute_url(vich_uploader_asset(invoice.company, 'logoFile')) }}" alt="Logo" srcset="">
		</div>



			<div class="date">
				<p>Facture : {{ invoice.number|default('001') }}</p>
				<p>Date de facturation : {{ invoice.date ? invoice.date|date('d/m/Y') : '' }}</p>
				<p>Date d'échéance : {{ invoice.dueDate ? invoice.dueDate|date('d/m/Y') : '' }}</p>
				<br>

			</div>
			{{ include('@invoice/components/address-customer.html.twig') }}


	<div class="deliveries-total" style="margin-top: 2cm;">
		<div class="deliveries border">
			{{ include('@invoice/components/deliveries-table.html.twig') }}
		</div>

					<p>Mode de paiement : Virement</p>
					<p>Iban : {{ company.iban|default('FR00 XXXX XXXX...') }}</p>

		{{ include('@invoice/components/total.html.twig') }}	
	</div>



				{{ include('@invoice/components/footer.html.twig') }}
</div>
