{% extends 'dashboard/base.html.twig' %}
{% block stylesheets %}
	<style>
		.page-preview {
			display: flex;
			gap: 40px;
			justify-content: center;
		}

			.form-theme {
				display: flex;
				max-width: 400px;
				border: 1px solid rgba(0, 0, 0, 1);
			}
		
		table thead,
		.dashboard-container .page .page-content section.invoice-preview {
			max-width: 600px;
			padding: 0;
		}
		.invoice-page.theme1 {
			color: {{company.invoiceTextColor}};
			.header, .footer, table thead th{
				background: {{company.invoicePrimaryColor}}
			}
		}
		.invoice-page.theme2 {
			.border {
				border: 1px solid {{company.invoicePrimaryColor}}
			}
		}
	</style>
{% endblock %}

{% block title %}Paramétrages du design
{% endblock %}
{% block page_title %}Apparence de la facture
{% endblock %}
{% block body %}
	<div class="page-content page-preview page-invoice" data-controller="theme">
		<section class="form form-company form-theme">
			{{ include('company/_form_theme.html.twig', {'button_label': 'Appliquer'}) }}
		</section>
		<section class="invoice-preview">
			{{ include('@invoice/themes/theme-default.html.twig') }}
			{{ include('@invoice/themes/theme-logo.html.twig') }}
		</section>
	</div>
{% endblock %}
