<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Votre facture</title>
</head>
<body>
    <p>Bonjour {{ invoice.customer.name }},</p>

    <p>Veuillez trouver ci-joint votre facture n°{{ invoice.number }} datée du {{ invoice.date|date('d/m/Y') }}.</p>

    <p>Montant total hors taxes : {{ invoice.totalHT}} €</p>

    <p>Merci de votre confiance.</p>

    <p>Cordialement,<br>L’équipe {{ invoice.company.name }}</p>
</body>
</html>
